body {
    background-color: grey;
    color: white;
}

div#box {
    /* width: 40%; */
    max-width: 600px;
    min-width: 200px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

div#lyrics {
    text-align: center;
}

.back {
    float: right;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
    text-decoration: underline;
}